@media (max-width:1024px){
    .wrapper {
        width: 90%;
    }
}

@media (max-width:650px){
    body {
        background-color: #ffffff;
    }

    .wrapper { 
        width: 90%;

    }

    .mockup {
        display:none;
    }

    .login-wrap {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}